@using Abp.Web.Mvc.Extensions
@section styles {
    <link href="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/plugins/iCheck/all.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/css/select2.min.css">
}
@section scripts
{
    <!-- DataTables -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/lib/AdminLTE-2.4.10/plugins/iCheck/icheck.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/js/select2.full.min.js"></script>

    <script>
        var Popup, dataTable

        $(document).ready(function () {
            dataTable = $("#dtTimesheet").DataTable({
                "ajax": {
                    "url": "/TimesheetPending/GetAllPendingTimesheets",
                    "type": "POST",
                    "datatype": "json",
                },
                "columns": [
                    {
                        "data": "IDList",
                        "name": "IDList",
                        "render": function (d) {
                            return "<input name='ckboxTS' type='checkbox' onchange='ChoseSingle(this)' value='" + d + "'/>";
                        }
                    },
                    { "data": "TimesheetUser" },
                    {
                        "data": "TimesheetDate", "name": "TimesheetDate", "render": function (d) {
                            if (d)
                                return "<label title='" + d + "'>" + GetShortStringForCell(d) + "</label>";
                            else
                                return "";
                        }
                    },
                    {
                        "data": "ProjectName", "name": "ProjectName", "render": function (d) {
                            if (d)
                                return "<label title='" + d + "'>" + GetShortStringForCell(d) + "</label>";
                            else
                                return "";
                        }
                    },
                    { "data": "Workload" },
                    {
                        "data": "WorkContent", "name": "WorkContent", "render": function (d) {
                            if (d)
                                return "<label title='" + d + "'>" + GetShortStringForCell(d) + "</label>";
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Remarks", "name": "Remarks", "render": function (d) {
                            if (d)
                                return "<label title='" + d + "'>" + GetShortStringForCell(d) + "</label>";
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Status",
                        "orderable": false,
                        "searchable": false,
                        "width": "190px",
                        "render": function (data, type, full, meta) {
                            return "<a class='btn btn-info btn-sm' onclick=singleApprove('" + full.IDList + "')><i class='fa fa-pencil'></i>通过</a ><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=singleReject('" + full.IDList + "')><i class='fa fa-trash'></i>驳回</a ><a class='btn btn-primary btn-sm' style='margin-left:5px' onclick=PopupForm('@Url.Action("SelectTransferUser", "TimesheetPending")/" + full.WorkflowInstanceID + "')><i class='fa fa-send'></i>转办</a >";
                        }
                    }
                ],
                "fnCreatedRow": function (nRow, aData, iDataIndex) {
                    $('td:eq(1)', nRow).html("<span class='row-details' title='展开' style = 'padding-left: 5px;padding - right: 5px;cursor: pointer;color: blue;'>+</span> " + aData.TimesheetUser);
                    //再把工时清单加载到子表格中
                    var tb = '';
                    for (var i = 0; i < aData.TimesheetList.length; i++) {
                        tb += '<tr name = "tr' + aData.IDList + '">';
                        tb += '<td></td><td>' + aData.TimesheetList[i].TimesheetUser + '</td><td>' + ConvertStringToDatetimeEx(aData.TimesheetList[i].TimesheetDate) + '</td><td>' + aData.TimesheetList[i].ProjectName + '</td><td>' + aData.TimesheetList[i].Workload + '</td>';
                        tb += '<td><label title="' + aData.TimesheetList[i].WorkContent + '">' + GetShortStringForCell(aData.TimesheetList[i].WorkContent) + '</label></td>';
                        tb += '<td><label title="' + aData.TimesheetList[i].Remarks + '">' + GetShortStringForCell(aData.TimesheetList[i].Remarks) + '</label></td>';
                        tb += '<td></td>';
                        tb += '</tr>'
                    }
                    $(nRow).attr("detailDatas", tb);
                },
                "serverSide": true,
                "processing": true,
                //"order": [1, "asc"],
                "aaSorting": [[1, "desc"]],
                "bSort": true,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }],
                "language": {
                    "emptyTable": "没有记录",
                    "processing": "处理中... 请等待!",
                    "decimal": "",
                    "info": "共 _TOTAL_ 条记录",
                    "infoEmpty": "共 0 条记录",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页 _MENU_ 条",
                    "search": "查找:",
                    "zeroRecords": "没有找到匹配的记录",
                    "paginate": {
                        "first": "首页",
                        "last": "尾页",
                        "next": "下一页",
                        "previous": "上一页"
                    }
                },
                "dom": '<"top"l>rt<"bottom"ip><"clear">',
                "fnInitComplete": function (oSettings, json) {
                    $('#dtTimesheet').on('click', ' tbody td .row-details', function () {
                        var nTr = $(this).parents('tr')[0];
                        var detailDatas = $(nTr).attr("detailDatas");
                        var idlist = $(nTr).find("input[name='ckboxTS']").val();
                        var childTR = $("tr[name='tr" + idlist + "']");
                        if (childTR.length == 0) {//没有找到则加上
                            $(detailDatas).insertAfter($(nTr));
                            $(this).html('-').attr("title", "折叠");
                        }
                        else {//找到了则移除
                            $(childTR).remove();
                            $(this).html('+').attr("title", "展开");
                        }
                    });
                }
            });

        }
        )
        
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: "转办",
                        close: function () {
                            Popup.dialog('destroy').remove();
                        },
                        open: function () {
                            if ($.ui && $.ui.dialog && !$.ui.dialog.prototype._allowInteractionRemapped && $(this).closest(".ui-dialog").length) {
                                if ($.ui.dialog.prototype._allowInteraction) {
                                    $.ui.dialog.prototype._allowInteraction = function (e) {
                                        if ($(e.target).closest('.select2-drop').length) return true;
                                        return ui_dialog_interaction.apply(this, arguments);
                                    };
                                    $.ui.dialog.prototype._allowInteractionRemapped = true;
                                }
                                else {
                                    $.error("You must upgrade jQuery UI or else.");
                                }
                            }
                        },
                        _allowInteraction: function (event) {
                            return !!$(event.target).is(".select2-input") || this._super(event);
                        }
                    });
                });
        }

        function SubmitForm(form) {
            var nextOperator = $(form).find("select[name=NextOperator]").val();
            var workflowInstanceID = $(form).find("input[name=WorkflowInstanceID]").val()
            $.ajax({
                type: "POST",
                url: form.action,
                data: {
                    nextOperator: nextOperator,
                    workflowInstanceID: workflowInstanceID
                },
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
            return false;
        }

        function batchApprove() {
            //先获取所有勾选的工时
            var idList = GetCheckedTimesheetIdList();
            if (idList == "") {
                $.notify("请先选择需要审批通过的工时", {
                    globalPosition: "top center",
                    className: "error"
                })
                return;
            }
            ShowApproveComment('审批通过', idList);
        }

        function singleApprove(id) {
            ShowApproveComment('审批通过', id);
        }

        function batchReject() {
            //先获取所有勾选的工时
            var idList = GetCheckedTimesheetIdList();
            if (idList == "") {
                $.notify("请先选择需要驳回的工时", {
                    globalPosition: "top center",
                    className: "error"
                })
                return;
            }
            ShowApproveComment('驳回', idList);
        }

        function singleReject(id) {
            ShowApproveComment('驳回', id);
        }

        function batchTransfer() {
            //先获取所有勾选的工时
            var idList = GetCheckedTimesheetIdList();
            if (idList == "") {
                $.notify("请先选择需要转办的工时", {
                    globalPosition: "top center",
                    className: "error"
                })
                return;
            }
            ShowSelectUser(idList);
        }

        function singleTransfer(id) {
            ShowSelectUser(id);
        }

        function GetCheckedTimesheetIdList() {
            var cboxList = $("#dtTimesheet").find("input[name='ckboxTS']");
            var idList = "";
            for (var i = 0; i < cboxList.length; i++) {
                if ($(cboxList[i]).prop("checked")) {
                    idList += (idList == "" ? "" : ",") + $(cboxList[i]).val();
                }
            }
            return idList;
        }

        function ChoseAll() {
            var cboxAll = $("#ckboxSelectAll");
            var cboxList = $("#dtTimesheet").find("input[name='ckboxTS']");
            for (var i = 0; i < cboxList.length; i++) {
                if (cboxAll.prop("checked")) {
                    $(cboxList[i]).prop("checked", true);
                }
                else {
                    $(cboxList[i]).prop("checked", false);
                }
            }
        }

        function ChoseSingle(ts) {
            var cboxAll = $("#ckboxSelectAll");
            var cboxList = $("#dtTimesheet").find("input[name='ckboxTS']");
            var selectCount = 0;
            for (var i = 0; i < cboxList.length; i++) {
                if ($(cboxList[i]).prop("checked")) {
                    selectCount += 1;
                }
            }
            if (selectCount == cboxList.length) {
                $(cboxAll).prop("checked", true);
            }
            else {
                $(cboxAll).prop("checked", false);
            }
        }
    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box box-header">
                <div class="btn-group-toggle">
                    <button type="button" class="btn btn-info" title="提交所有勾选的工时" onclick="batchApprove()">批量通过 <i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-info" title="驳回所有勾选的工时" onclick="batchReject()">批量驳回 <i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-info" title="转办所有勾选的工时" onclick="batchTransfer()">批量转办 <i class="fa fa-trash"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="dtTimesheet" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th><input id="ckboxSelectAll" type="checkbox" title="全选或全不选" onchange="ChoseAll()" value="0" /></th>
                            <th>提交人</th>
                            <th>日期</th>
                            <th>项目名称</th>
                            <th>工时</th>
                            <th>工作内容</th>
                            <th>备注</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


