@using Abp.Web.Mvc.Extensions
@section styles {
    <link href="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/plugins/iCheck/all.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
}
@section scripts
{
    <!-- DataTables -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/lib/AdminLTE-2.4.10/plugins/iCheck/icheck.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>

    <script>
        var Popup, dataTable

        $(document).ready(function () {
            dataTable = $("#dtTimesheet").DataTable({
                "ajax": {
                    "url": "/TimesheetSubmit/GetAllSubmitTimesheets",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "user": "kojar.liu"
                    },
                },
                "columns": [
                    {
                        "data": "Id",
                        "name": "Id",
                        "render": function (d) {
                            return "<input name='ckboxTS' type='checkbox' onchange='ChoseSingle(this)' value='" + d + "'/>";
                        }
                    },
                    {
                        "data": "Id",
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1 + meta.settings._iDisplayStart;
                        }
                    },
                    {
                        "data": "TimesheetDate", "name": "TimesheetDate", "render": function (d) {
                            if (d)
                                return moment(d).format("YYYY-MM-DD");
                            else
                                return "";
                        }
                    },
                    { "data": "ProjectID" },
                    { "data": "ProjectGroup" },
                    { "data": "Workload" },
                    { "data": "WorkContent" },
                    { "data": "Remarks" },
                    { "data": "Status" },
                    {
                        "data": "Status",
                        "orderable": false,
                        "searchable": false,
                        "width": "125px",
                        "render": function (data, type, full, meta) {
                            console.log(data+","+type+","+full+","+meta);
                            if (data == 'Pending') {
                                return "<a class='btn btn-info btn-sm' onclick=singleRollback('" + full.Id + "')><i class='fa fa-pencil'></i>撤回</a >";
                            }  else {
                                return "";
                            }
                        }
                    }
                ],
                "serverSide": true,
                "processing": true,
                //"order": [1, "asc"],
                "aaSorting": [[2, "desc"]],
                "bSort": true,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [0,1] }],
                "language": {
                    "emptyTable": "没有记录",
                    "processing": "处理中... 请等待!",
                    "decimal": "",
                    "info": "共 _TOTAL_ 条记录",
                    "infoEmpty": "共 0 条记录",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页 _MENU_ 条",
                    "search": "查找:",
                    "zeroRecords": "没有找到匹配的记录",
                    "paginate": {
                        "first": "首页",
                        "last": "尾页",
                        "next": "下一页",
                        "previous": "上一页"
                    }
                },
                "dom": '<"top"l>rt<"bottom"ip><"clear">',
                "fnInitComplete": function (oSettings, json) {

                }
            });
        })

        function batchRollback() {
            //先获取所有勾选的工时
            var idList = GetCheckedTimesheetIdList();
            if (idList == "") {
                $.notify("请先选择需要撤回的工时", {
                    globalPosition: "top center",
                    className: "error"
                })
                return;
            }
            //然后询问是否提交
            if (confirm("确认将选择的工时进行撤回吗?")) {
                commRollback(idList);
            }
        }

        function singleRollback(id) {
            //询问是否提交
            if (confirm("确认将该工时进行撤回吗?")) {
                commRollback(id);
            }
        }

        //公用的Rollback方法，参数是对应的工时id列表，多个则用英文逗号隔开
        function commRollback(tsIdList) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CommRollback", "TimesheetSubmit")',
                data: { tsIdList: tsIdList },
                success: function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }
            })
        }

        function GetCheckedTimesheetIdList() {
            var cboxList = $("#dtTimesheet").find("input[name='ckboxTS']");
            var idList = "";
            for (var i = 0; i < cboxList.length; i++) {
                if ($(cboxList[i]).prop("checked")) {
                    idList += (idList == "" ? "" : ",") + $(cboxList[i]).val();
                }
            }
            return idList;
        }

        function ChoseAll() {
            var cboxAll = $("#ckboxSelectAll");
            var cboxList = $("#dtTimesheet").find("input[name='ckboxTS']");
            for (var i = 0; i < cboxList.length; i++) {
                if (cboxAll.prop("checked")) {
                    $(cboxList[i]).prop("checked", true);
                }
                else {
                    $(cboxList[i]).prop("checked", false);
                }
            }
        }

        function ChoseSingle(ts) {
            var cboxAll = $("#ckboxSelectAll");
            var cboxList = $("#dtTimesheet").find("input[name='ckboxTS']");
            var selectCount = 0;
            for (var i = 0; i < cboxList.length; i++) {
                if ($(cboxList[i]).prop("checked")) {
                    selectCount += 1;
                }
            }
            if (selectCount == cboxList.length) {
                $(cboxAll).prop("checked", true);
            }
            else {
                $(cboxAll).prop("checked", false);
            }
        }
    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box box-header">
                <div class="btn-group-toggle">
                    <button type="button" class="btn btn-info" title="提交所有勾选的工时" onclick="batchRollback()">批量撤回<i class="fa fa-plus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="dtTimesheet" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th><input id="ckboxSelectAll" type="checkbox" title="全选或全不选" onchange="ChoseAll()" value="0"/></th>
                            <th>序号</th>
                            <th>日期</th>
                            <th>项目代码</th>
                            <th>项目组</th>
                            <th>工时</th>
                            <th>工作内容</th>
                            <th>备注</th>
                            <th>状态</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


