@using Abp.Web.Mvc.Extensions
@section styles {
    <link href="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/plugins/iCheck/all.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/css/select2.min.css">
}
@section scripts
{
    <!-- DataTables -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/lib/AdminLTE-2.4.10/plugins/iCheck/icheck.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/config.js"></script>

    <script>
        var Popup, dataTable  
        
        $(document).ready(function () {
            dataTable = $("#dtTimesheet").DataTable({
                "ajax": {
                    "url": "/TimesheetApproved/GetAllApprovedTimesheets",
                    "type": "POST",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "TimesheetUser" },
                    {
                        "data": "TimesheetDate", "name": "TimesheetDate", "render": function (d) {
                            if (d)
                                return "<label title='" + d + "'>" + GetShortStringForCell(d) + "</label>";
                            else
                                return "";
                        }
                    },
                    {
                        "data": "ProjectName", "name": "ProjectName", "render": function (d) {
                            if (d)
                                return "<label title='" + d + "'>" + GetShortStringForCell(d) + "</label>";
                            else
                                return "";
                        }
                    },
                    { "data": "Workload" },
                    {
                        "data": "WorkContent", "name": "WorkContent", "render": function (d) {
                            if (d)
                                return "<a href = '#' data-toggle='tooltip' data-html='true' title='" + d + "'>" + GetShortStringForCell(d) + "</a>";
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Remarks", "name": "Remarks", "render": function (d) {
                            if (d)
                                return "<a href = '#' data-toggle='tooltip' data-html='true' title='" + d + "'>审批日志</a>";
                            else
                                return "";
                        }
                    }
                ],
                "fnCreatedRow": function (nRow, aData, iDataIndex) {
                    $('td:eq(0)', nRow).html("<span class='row-details' title='展开' style = 'padding-left: 5px;padding - right: 5px;cursor: pointer;color: blue;'>+</span> " + aData.TimesheetUser);
                    //再把工时清单加载到子表格中
                    var tb = '';
                    for (var i = 0; i < aData.TimesheetList.length; i++) {
                        tb += '<tr name = "tr' + aData.IDList + '">';
                        tb += '<td>' + aData.TimesheetList[i].TimesheetUser + '</td><td>' + ConvertStringToDatetimeEx(aData.TimesheetList[i].TimesheetDate) + '</td><td>' + aData.TimesheetList[i].ProjectName + '</td><td>' + aData.TimesheetList[i].Workload + '</td>';
                        tb += '<td><label title="' + aData.TimesheetList[i].WorkContent + '">' + GetShortStringForCell(aData.TimesheetList[i].WorkContent) + '</label></td>';
                        tb += '<td><label title="' + aData.TimesheetList[i].Remarks + '">' + GetShortStringForCell(aData.TimesheetList[i].Remarks) + '</label></td>';
                        tb += '<td></td>';
                        tb += '</tr>'
                    }
                    $(nRow).attr("detailDatas", tb).attr("idlist", aData.IDList);
                },
                "serverSide": true,
                "processing": true,
                //"order": [1, "asc"],
                "aaSorting": [[1, "desc"]],
                "bSort": true,
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [5] }],
                "language": {
                    "emptyTable": "没有记录",
                    "processing": "处理中... 请等待!",
                    "decimal": "",
                    "info": "共 _TOTAL_ 条记录",
                    "infoEmpty": "共 0 条记录",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页 _MENU_ 条",
                    "search": "查找:",
                    "zeroRecords": "没有找到匹配的记录",
                    "paginate": {
                        "first": "首页",
                        "last": "尾页",
                        "next": "下一页",
                        "previous": "上一页"
                    }
                },
                "dom": '<"top"l>rt<"bottom"ip><"clear">',
                "fnInitComplete": function (oSettings, json) {
                    $('#dtTimesheet').on('click', ' tbody td .row-details', function () {
                        var nTr = $(this).parents('tr')[0];
                        var detailDatas = $(nTr).attr("detailDatas");
                        var idlist = $(nTr).attr("idlist");
                        var childTR = $("tr[name='tr" + idlist + "']");
                        if (childTR.length == 0) {//没有找到则加上
                            $(detailDatas).insertAfter($(nTr));
                            $(this).html('-').attr("title", "折叠");
                        }
                        else {//找到了则移除
                            $(childTR).remove();
                            $(this).html('+').attr("title", "展开");
                        }
                    });
                    $("[data-toggle='tooltip']").tooltip({ content: function () { return $(this).attr("title"); } }); 
                }
            });

            $('#submitUser').select2(select2.employee);

            $("#btnSearch").click(function () {
                var submitUser = $("#submitUser").val();
                dataTable.columns(1).search(submitUser);
                dataTable.draw();
            });
        }
        )
        
    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box box-header">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>提交人</label>
                            <select id="submitUser" class="form-control select2" style="width: 100%;"></select>
                        </div>
                    </div>
                </div>
                <div class="btn-group-toggle pull-right">
                    <button type="button" name="search" id="btnSearch" class="btn btn-success">
                        查询 <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="dtTimesheet" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>提交人</th>
                            <th>日期</th>
                            <th>项目名称</th>
                            <th>工时</th>
                            <th>工作内容</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


