@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "个人设置";
}
@section styles {
    <link href="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/plugins/iCheck/all.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/css/select2.min.css">
}
@section scripts
{
    <!-- DataTables -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/lib/AdminLTE-2.4.10/plugins/iCheck/icheck.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/config.js"></script>

    <script>
        var Popup, dataTable

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "UserSetting/GetUserSetting",
                success: function (data) {
                    if (data.success) {
                        console.log(data);
                        if (data.TeamId != 0) {
                            var data = [{ id: data.TeamId, text: data.TeamName }];
                            $("#selectTeam").select2({
                                data: data,
                                placeholder: "输入科室Id或名称"
                            });
                            $("#selectTeam").select2('val', data.TeamId);
                            //$("#selectTeam").val([data.TeamId]).trigger('change');
                            $('#selectTeam').select2(select2.team);
                        }
                    }
                }
            });
        })

        function SaveSetting() {
            var teamId = $("#selectTeam").val();
            var teamName = $("#selectTeam").text();
            if (teamId != "" && teamName != "") {
                $.ajax({
                    type: "POST",
                    url: "UserSetting/AddOrEdit",
                    data: {
                        teamId: teamId
                    },
                    success: function (data) {
                        if (data.success) {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box box-header">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>所属科室</label>
                            <select class="form-control select2" id="selectTeam"></select>
                        </div>
                    </div>
                </div>
                <div class="btn-group-toggle pull-right">
                    <button type="button" class="btn btn-info" onclick="SaveSetting()">设置 <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
