@using Abp.Web.Mvc.Extensions
@section styles {
    <link href="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/plugins/iCheck/all.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/css/select2.min.css">
}
@section scripts
{
    <!-- DataTables -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/lib/AdminLTE-2.4.10/plugins/iCheck/icheck.min.js"></script>

    <script src="~/lib/My97DatePicker/WdatePicker.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/expressive.annotations.validate.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/config.js"></script>

    @*@Html.IncludeScript("~/js/ProjectManagement/Index.js")*@

    <script>
        var Popup, dataTable

        $(document).ready(function () {
            dataTable = $("#projectTable").DataTable({
                "ajax": {
                    "url": "/ProjectManagement/GetAllProjects",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ProjectCode", "name": "ProjectCode", "width": "60px" },
                    { "data": "ProjectName", "name": "ProjectName" },
                    { "data": "Category", "name": "Category", "width": "60px" },
                    { "data": "ProjectManagerName", "name": "ProjectManagerName", "orderable": false },
                    { "data": "ProductManagerName", "name": "ProductManagerName", "orderable": false },
                    { "data": "ProjectType", "name": "ProjectType", "width": "60px" },
                    { "data": "ProjectLevel", "name": "ProjectLevel", "width": "60px" },
                    { "data": "ProjectKind", "name": "ProjectKind", "width": "60px" },
                    { "data": "ProductionLineAttribute", "name": "ProductionLineAttribute", "width": "60px" },
                    { "data": "ProjectStatus", "name": "ProjectStatus", "width": "60px" },
                    //{
                    //    "data": "IsEnabled", "name": "IsEnabled", "render": function (d) {
                    //        return d == true ? "是" : "否";
                    //    }
                    //},
                    {
                        "data": "EffectiveDate", "name": "EffectiveDate", "render": function (d) {
                            return moment(d).format("YYYY-MM-DD");
                        },
                        "width": "60px"
                    },
                    {
                        "data": "ExpirationDate", "name": "ExpirationDate", "render": function (d) {
                            return moment(d).format("YYYY-MM-DD");
                        },
                        "width": "60px"
                    },
                    {
                        "data": "LastModifyTime", "name": "LastModifyTime", "render": function (d) {
                            return moment(d).format("YYYY-MM-DD");
                        },
                        "visible": false
                    },
                    {
                        "data": "Id", "render": function (data) {
                            return "<a class='btn btn-info btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit", "ProjectManagement")/" + data + "')><i class='fa fa-pencil'></i>编辑</a > <a style='display:none' class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i>删除</a >"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "60px"
                    }
                ],
                "serverSide": true,
                "processing": true,
                "order": [12, "desc"],
                "language": {
                    "emptyTable": "没有记录, 请点击 <b>新增</b> 按钮添加记录!",
                    "processing": "处理中... 请等待!",
                    "decimal": "",
                    "info": "共 _TOTAL_ 条记录",
                    "infoEmpty": "共 0 条记录",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页 _MENU_ 条",
                    "search": "查找:",
                    "zeroRecords": "没有找到匹配的记录",
                    "paginate": {
                        "first": "首页",
                        "last": "尾页",
                        "next": "下一页",
                        "previous": "上一页"
                    }
                },
                "dom": '<"top"l>rt<"bottom"ip><"clear">'
                //"fnInitComplete": function (oSettings, json) {
                //    addSearchControl(json)
                //}
            });

            $('#searchProjectManager, #searchProductionManager, #searchProductionLeader').select2(select2.employee);

            $("#searchProject").select2(select2.project);

            $("#btnSearch").click(function () {
                dataTable.columns(0).search($("#searchProject").val() == null ? "" : $("#searchProject").val());
                dataTable.columns(1).search($("#searchProjectManager").val() == null ? "" : $("#searchProjectManager").val());
                dataTable.columns(2).search($("#searchProductionManager").val() == null ? "" : $("#searchProductionManager").val());
                dataTable.columns(3).search($("#searchProductionLeader").val() == null ? "" : $("#searchProductionLeader").val());
                dataTable.draw();
            });

        })

        function addSearchControl(json) {
            $("#projectTable thead").append($("#projectTable thead tr:first").clone());

            $("#projectTable thead tr:eq(1) th").each(function (index) {
                if (index != 13) {
                    $(this).replaceWith('<th><input type="text" style="width:80px;"></input></th>');
                    var searchControl = $("#projectTable thead tr:eq(1) th:eq(" + index + ") input");
                    searchControl.on('keyup', function () {
                        dataTable.column(index).search(searchControl.val()).draw();
                    })
                }
                //else {
                //    var officeDropdown = $('<select/>');
                //    officeDropdown.append($('<option/>').attr('value', '').text('Select Office'));
                //    var office = [];
                //    $(json.data).each(function (index, element) {
                //        if ($.inArray(element.Office, office) == -1) {
                //            office.push(element.Office)
                //            officeDropdown.append($('<option/>').attr('value', element.Office).text(element.Office))
                //        }
                //    })
                //    $(this).replaceWith('<th>' + $(officeDropdown).prop('outerHTML') + '</th>');
                //    var searchControl = $("#employeeTable thead tr:eq(1) th:eq(" + index + ") select");
                //    searchControl.on('change', function () {
                //        dataTable.column(index).search(searchControl.val() == "" ? "" : '^' + searchControl.val() + '$', true, false).draw();
                //    })
                //}
            })
        }

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: "新增项目",
                        height: 600,
                        width: 900,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        },
                        // fixed select2 search input not working issue
                        open: function () {
                            if ($.ui && $.ui.dialog && !$.ui.dialog.prototype._allowInteractionRemapped && $(this).closest(".ui-dialog").length) {
                                if ($.ui.dialog.prototype._allowInteraction) {
                                    $.ui.dialog.prototype._allowInteraction = function (e) {
                                        if ($(e.target).closest('.select2-drop').length) return true;
                                        return ui_dialog_interaction.apply(this, arguments);
                                    };
                                    $.ui.dialog.prototype._allowInteractionRemapped = true;
                                }
                                else {
                                    $.error("You must upgrade jQuery UI or else.");
                                }
                            }
                        },
                        _allowInteraction: function (event) {
                            return !!$(event.target).is(".select2-input") || this._super(event);
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if (confirm("确认删除吗?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "ProjectManagement")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                })
            }
        }
    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box box-header">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>项目名称</label>
                            <select class="form-control select2" id="searchProject"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>项目经理</label>
                            <select class="form-control select2" id="searchProjectManager"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="search-column">
                            <label>产品经理</label>
                            <select class="form-control select2" id="searchProductionManager"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>产品管理</label>
                            <select class="form-control select2" id="searchProductionLeader"></select>
                        </div>
                    </div>
                </div>
                <div class="btn-group-toggle pull-right">
                    <button id="btnSearch" type="button" name="search" class="btn btn-success">
                        查询 <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="btn-group-toggle">
                    <button type="button" class="btn btn-info" onclick="PopupForm('@Url.Action("AddOrEdit","ProjectManagement")')">新增 <i class="fa fa-plus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="projectTable" class="table table-bordered table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>项目编码</th>
                            <th>项目名称</th>
                            <th>类别</th>
                            <th>项目经理</th>
                            <th>产品经理</th>
                            <th>项目类别</th>
                            <th>项目级别</th>
                            <th>项目性质</th>
                            <th>产线属性</th>
                            <th>项目状态</th>
                            @*<th>是否投入</th>*@
                            <th>生效日期</th>
                            <th>失效日期</th>
                            <th>更新时间</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

