@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/editor.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div>
        <div class="DTED_Lightbox_Background" style="opacity: 1;display:none"><div></div></div>
        <div class="DTED_Lightbox_Wrapper" style="opacity: 1; top: 0px;display:none">
            <div class="DTED_Lightbox_Container">
                <div class="DTED_Lightbox_Content_Wrapper">
                    <div class="DTED_Lightbox_Content" style="height: auto;">
                        <div class="DTE DTE_Action_Create">
                            <div data-dte-e="head" class="DTE_Header">
                                <div class="DTE_Header_Content">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">创建新条目</font>
                                    </font>
                                </div>
                            </div>
                            <div data-dte-e="processing" class="DTE_Processing_Indicator"><span></span></div>
                            <div data-dte-e="body" class="DTE_Body">
                                <div data-dte-e="body_content" class="DTE_Body_Content" style="max-height: 534px;">
                                    <div data-dte-e="form_info" class="DTE_Form_Info" style="display: none;"></div>
                                    <form data-dte-e="form" class="" style="display: block;">
                                        <div data-dte-e="form_content" class="DTE_Form_Content">

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div data-dte-e="foot" class="DTE_Footer" style="text-indent: -1px;">
                                <div class="DTE_Footer_Content"></div>
                                <div data-dte-e="form_error" class="DTE_Form_Error" style="display: none;"></div>
                                <div data-dte-e="form_buttons" class="DTE_Form_Buttons">
                                    <button class="btn" tabindex="0">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">创建</font>
                                        </font>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="DTED_Lightbox_Close"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
