@using Abp.Web.Mvc.Extensions
@section styles {
    <!-- fullCalendar -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
}
@section scripts
{
    <!-- fullCalendar -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/moment/moment.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/fullcalendar/dist/locale/zh-cn.js"></script>
    @Html.IncludeScript("~/js/Timesheet/Index.js")
}
<div class="row">
    <div class="box box-primary">
        <div class="box-body no-padding">
            <!-- THE CALENDAR -->
            <div id="calendar"></div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.col -->
</div>
